<%- model_class = TodoList -%>
<% @todo_list.todo_items.each do |todo_item| %>

  <% if Tod::TimeOfDay(todo_item.deadline) > Tod::TimeOfDay(Time.now) %>
    <% if !todo_item.completed? %>
	  <h2>It is time to <%= todo_item.content %></h2>
	  <% temp = Tod::TimeOfDay(todo_item.deadline) - Tod::TimeOfDay(Time.now) %>
	  <h2>残り<%= temp %></h2>
	<% end %>
  <% end %>
<% end %>
