<h1>New Article</h1>

<%= form_for :weekly_todo_list, url: weekly_todo_lists_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>