<p>
  <strong>Title:</strong>
  <%= @weekly_todo_list.title %>
</p>

<h1>Listing articles</h1>
 
<table>
  <tr>
    <th>Title</th>
  </tr>
 
  <% @weekly_todo_lists.each do |weekly_todo_list| %>
    <tr>
      <td><%= weekly_todo_list.title %></td>
    </tr>
  <% end %>
</table>